/* media CSS */










@media (min-width: 1201px) {
    .container {
        max-width: 1360px;
    }
}

@media (max-width: 1200px) {
    #header .header-nav {
        position: fixed;
        background-color: var(--clr-secondary);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 999;
        width: 0%;
        overflow: hidden;
        display: grid;
        align-items: center;
        transition: 0.2s;
    }
    .show-menu #header .header-nav {
        width: 100%;
    }
    #header .header-nav ul {
        display: block;
    }
    #header .header-nav ul li a {
        text-align: center;
        padding: 10px;
    }
    #header .header-nav ul li > ul {
        position: unset;
        opacity: 1;
        pointer-events: all;
        max-width: 70%;
        width: 100%;
        margin: auto;
    }
    #header .header-nav ul li.has-child {
        margin-right: 0;
    }
    #header .header-nav ul li.has-child::after {
        content: none;
    }

    #header #menuClose {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: var(--clr-primary);
        color: #fff;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }




    #footer .middle .menu {
        margin-bottom: 20px;
    }
    #footer .middle .menu ul li {
        display: inline-block;
    }
    #footer .middle .menu ul li a {
        display: inline-block;
        border: 1px solid var(--clr-light);
        padding: 5px 10px;
        margin: 5px 2px;
    }
}


@media (min-width: 1560px) {
    .container {
        max-width: 1560px;
    }
}





@media (max-width: 991px) {
    .home-banner .item .right .image-wrapper {
        height: 600px;
        bottom: 0;
    }
    .home-banner .item .row {
        margin-top: 0;
    }
    .home-banner .banner-title {
        font-size: 60px;
    }
    .home-banner .banner-small-title {
        font-size: 40px;
    }
    .home-banner .banner-subtitle {
        font-size: 12px;
        letter-spacing: 8px;
    }



    
    #footer .middle {
        padding: 50px 0 80px;
    }
    #footer .middle .big-menu {
        text-align: center;
    }
    #footer .middle .big-menu li {
        display: inline-block;
    }
    #footer .middle .big-menu li a {
        display: block;
        color: var(--clr-light);
        font-size: 12px;
        font-weight: normal;
        border: 1px solid var(--clr-light);
        padding: 5px 10px;
        margin: 5px 2px;
    }
}





@media (max-width: 767px) {
    #header .logo {
        margin: 10px 0;
    }
    #header .contact-no {
        padding: 10px 0;
        border-bottom: 1px solid rgb(255,255,255,0.5);
    }




    .home-banner .item .row {
        padding: 50px 0;
    }
    .home-banner .item .right .image-wrapper {
        height: 400px;
    }
    .home-banner .banner-title {
        font-size: 45px;
    }
    .home-banner .banner-small-title {
        font-size: 30px;
    }





    #footer .top .title {
        font-size: 40px;
    }
    #footer .top .text {
        font-size: 12px;
    }
    #footer .top .content {
        padding: 50px 0 80px;
    }
}



@media (max-width: 575px) {
    .home-banner .item .right {
        display: none;
    }
    .home-banner .item .left {
        padding: 30px 30px 40px;
        text-align: center;
    }
    .home-banner .item .row {
        padding: 0;
    }
    .home-banner .banner-title {
        font-size: 60px;
    }
    .home-banner .banner-small-title {
        font-size: 50px;
    }
    .home-banner .item .row {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .home-banner .owl-nav {
        display: flex;
        justify-content: center;
        bottom: 40px;
        top: unset;
        transform: translateY(0);
        margin: 0;
    }
    .home-banner .owl-nav i {
        margin: 5px;
    }
}