/* CSS */



:root {
    --clr-primary: #fd5900;
    --clr-dark: #cc4700;
    --clr-secondary: #252521;
    --clr-light: #feefa8;

    --gradient: linear-gradient(
        45deg,
        #cb8a1e,
        #fbbf43,
        #fbeb9c,
        #fccd45,
        #fde657,
        #fdf68d
    );

    --font-body: 'Roboto', sans-serif;
    --font-heading: 'Anton', sans-serif;
}


body {
    font-family: 'Roboto', sans-serif;
    /* background-image: var(--gradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; */
}





.font-body {
    font-family: var(--font-body);
}
.font-heading {
    font-family: var(--font-heading);
}
.bg-clr-primary { background-color: var(--clr-primary) }
.bg-clr-secondary { background-color: var(--clr-secondary) }
.bg-clr-light { background-color: var(--clr-light) }

.text-clr-primary { color: var(--clr-primary) }
.text-clr-secondary { color: var(--clr-secondary) }
.text-clr-light { color: var(--clr-light) }






/**************************************** GLOBAL */
    .btn {
        border-radius: 0;
        padding: 15px 40px;
        border: 2px solid;
        transition: 0.2s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }
    .btn::before {
        content: '';
        height: 100%;
        width: 10%;
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
        /* transform: translateX(-50%); */
        z-index: -1;
        transition: 0.2s;
    }
    .btn:hover::before {
        width: 100%;
    }
    
    .btn.btn-light {
        background-color: var(--clr-light);
        color: #000;
        border-color: var(--clr-light);
    }
    .btn.btn-light::before {
        background-color: var(--clr-primary);
    }
    .btn.btn-light:hover {
        color: #fff;
    }
    .btn.btn-light.btn-border {
        background-color: transparent;
        color: var(--clr-light);
        border-color: var(--clr-light);
    }


    
    .btn.btn-primary {
        background-color: var(--clr-primary);
        color: #fff;
        border-color: var(--clr-primary);
    }
    .btn.btn-primary::before {
        background-color: var(--clr-dark);
    }
    .btn.btn-primary.btn-border {
        background-color: transparent;
        color: var(--clr-primary);
        border-color: var(--clr-primary);
    }
    .btn.btn-primary.btn-border:hover {
        color: #fff;
    }


    .btn.btn-secondary {
        background-color: var(--clr-secondary);
        color: #fff;
        border-color: var(--clr-secondary);
    }
    .btn.btn-secondary::before {
        background-color: #565656;
    }
    .btn.btn-secondary.btn-border {
        background-color: transparent;
        color: var(--clr-secondary);
        border-color: var(--clr-secondary);
    }
    .btn.btn-secondary.btn-border:hover {
        color: #fff;
    }



/**************************************** /GLOBAL */




.ajax_loader.hideloader {
    opacity: 0;
    visibility: hidden;
}
.ajax_loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.99);
    z-index: 99999999;
    -webkit-transition: all .6s ease 0s;
    transition: all .6s ease 0s;
}
.ajax_loader svg {
    position: absolute;
    max-width: 300px;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}






/**************************************** HEADER */
    #header {
        z-index: 9999999;
        transition: 0.5s;
        top: -20%; 
    }
    .sticky #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
        top: 0;
    }
    .sticky #header .header-nav > ul > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sticky body {
        padding-top: 105px;
    }


    #header .logo {
        display: block;
        max-width: 200px;
        height: 50px;
        width: 100%;
    }
    #header .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }

    
    #header .header-nav > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    #header .header-nav > ul li {
        position: relative;
    }
    #header .header-nav > ul > li a {
        display: block;
        padding: 40px 15px;
        color: #fff;
        text-decoration: none;
        transition: 0.5s;
    }
    #header .header-nav ul li a.active,
    #header .header-nav ul li a:hover {
        color: var(--clr-primary);
    }


    #header .header-nav ul li > ul {
        position: absolute;
        background-color: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 30px rgb(0,0,0,0.1);
        top: calc(100% + 20px);
        transition: 0.2s;
        opacity: 0;
        pointer-events: none;
        z-index: 9999;
    }
    #header .header-nav ul li > ul:hover,
    #header .header-nav ul li:hover > ul {
        opacity: 1;
        top: 100%;
        pointer-events: all;
    }
    #header .header-nav ul li > ul li a {
        display: block;
        color: #000;
        white-space: nowrap;
        padding: 10px 20px;
    }
    #header .header-nav ul li > ul li a:hover {
        background-color: var(--clr-primary);
        color: #fff;
    }
    #header .header-nav ul li.has-child {
        margin-right: 15px;
    }
    #header .header-nav ul li.has-child::after {
        content: '\f078';
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        color: #fff;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }




    #header .contact-no {
        text-decoration: none;
        transition: 0.2s;
    }
    #header .contact-no span {
        color: #fff;
        font-weight: bold;
        letter-spacing: 2px;
        margin-left: 10px;
        transition: 0.2s;
    }
    #header .contact-no:hover span {
        color: var(--clr-primary);
    }


    #menuOpen {
        width: 50px;
        height: 50px;
        background-color: var(--clr-primary);
        color: #fff;
        justify-content: center;
        align-items: center;
    }
/**************************************** /HEADER */







/**************************************** HOME PAGE */
    /* banner */
        .home-banner {
            position: relative;
        }
        .home-banner .owl-nav {
            position: absolute;
            z-index: 9999;
            top: calc(50% - 50px);
            left: 0;
            transform: translateY(-50%);
            right: 0;
            display: grid;
            justify-content: flex-end;
            pointer-events: none;
            margin-right: 20px;
        }
        .home-banner .owl-nav i {
            width: 40px;
            height: 40px;
            display: grid;
            border: 2px solid #fff;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 20px;
            margin: 5px 0;
            pointer-events: all;
            transition: 0.2s;
        }
        .home-banner .owl-nav i:hover {
            background-color: #fff;
            color: #000;
        }


        .home-banner .item {
            background-color: var(--clr-secondary);
        }
        .home-banner .item .row {
            margin-bottom: 100px;
            margin-top: -80px;
        }
        .home-banner .item .left {
            padding-left: 10%;
        }
        .home-banner .item .right .image-wrapper {
            width: 100%;
            height: 90vh;
            overflow: hidden;
            position: relative;
            /* top: 0; */
            bottom: -100px;
        }
        .home-banner .item .right .image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-banner .banner-title b {
            color: transparent;
            -webkit-text-stroke: 2px var(--clr-primary);
        }
        
        .home-banner .banner-subtitle {
            letter-spacing: 5px;
        }
    /* /banner */
/**************************************** /HOME PAGE */









/**************************************** FOOTER */
    #footer .top {
        text-align: center;
    }

    #footer .top .content {
        padding-bottom: 120px;
    }
    
    #footer .top .icon {
        color: #fff;
        border: 2px solid #fff;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        border-radius: 100%;
        font-size: 26px;
    }
    #footer .top .title {
        color: var(--clr-light);
        margin: 10px 0;
    }
    #footer .top .text {
        max-width: 800px;
        margin: auto;
        font-weight: 500;
        color: #fff;
    }


    #footer .middle {
        padding: 100px 0;
        position: relative;
        z-index: 1;
    }
    #footer .middle::before {
        content: '';
        height: 50px;
        width: 50%;
        top: 0;
        right: 0;
        background-color: var(--clr-primary);
        position: absolute;
        z-index: -1;
    }
    #footer .middle .image-wrapper {
        max-width: 220px;
        width: 100%;
        height: 50px;
        overflow: hidden;
        display: block;
        margin: auto;
    }
    #footer .middle .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #footer .middle .big-menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #footer .middle .foot-title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 15px;
        color: #fff;
    }
    #footer .middle .big-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: 0.2s;
    }
    #footer .middle .big-menu a:hover {
        color: var(--clr-primary);
    }

    #footer a.link {
        color: var(--clr-light);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        line-height: 16px;
        display: block;
        margin: 10px 0;
        letter-spacing: 2px;
    }
    #footer a.link:hover {
        color: #fff
    }

    .social {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .social li {
        display: inline-block;
    }
    .social li a {
        color: #fff;
        font-size: 24px;
        margin: 0 5px;
        text-decoration: none;
        transition: 0.2s;
    }
    .social li a:hover {
        color: var(--clr-primary);
    }


    #footer .middle .contact-details {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #footer .middle .contact-details a {
        text-decoration: none;
    }


    #footer .inner-content {
        padding: 20px 0;
    }
    #footer .middle .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }


    #footer .bottom {
        position: relative;
        z-index: 1;
    }
    #footer .bottom::before {
        content: '';
        height: 100%;
        width: 50%;
        top: -50px;
        right: 0;
        background-color: #343a40;
        position: absolute;
        z-index: -1;
    }
/**************************************** /FOOTER */